
.youtube{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
div{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

}
iframe{
  padding: 5px;
  border: 1px solid white;
  border-left: 0.5px solid white;
  border-right: 0.5px solid white;
}